<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <form action="{% url "app:editar_pessoa"  pessoa.id %}" method="post"> {% csrf_token %}
        <input type="text" name="nome" id="nome" value='{{ pessoa.nome }}'>
        
        <input type="text" name="sobrenome" id="sobrenome" value='{{ pessoa.sobrenome }}'>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>